nav.navbar.navbar-light.bg-light.justify-content-between
  = link_to 'Google Schedule Finder', root_path, class: 'navbar-brand mb-0 h1 text-center' 
  = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' if user_signed_in?